@page
@model Janus.Gui.Pages.Admin.SubCategories.DetailsModel

<div>
    <h4>SubCategories</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubCategories.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubCategories.Value)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubCategories.DateAdded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubCategories.DateAdded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubCategories.AddedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubCategories.AddedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SubCategories.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
