@page
@model Janus.Gui.Pages.Admin.Categories.IndexModel
@{
    ViewData["Title"] = "Admin - Categories";
}
<!--/Admin/Categories/Index-->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <!--Load in the Configuration Items-->
        @await Html.PartialAsync("../funcMenu.cshtml")

        <!--Insert items for this page-->
        <li class="sidebar-brand">Options</li>
        <li>
            <a asp-page="Create">
                <img src="~/images/Navbar/icons8-plus-96.png" width="32" />
                New Item
            </a>
        </li>
        <li>
            <a asp-page="/Admin/Categories/Index" asp-route-ViewMode="table">
                <img src="~/images/Navbar/icons8-data-sheet-96.png" width="32" />
                Table View
            </a>
        </li>
        <li>
            <a asp-page="/Admin/Categories/Index" asp-route-ViewMode="card">
                <img src="~/images/Navbar/icons8-control-panel-96.png" width="32" />
                Card View
            </a>
        </li>
    </ul>
</div>
<div id="page-content-wrapper">

        @if (Model.ViewMode.Equals("card"))
        {
            <div class="row">
                @{
                    int counter = 0;

                    foreach (var item in Model.Categories)
                    {
                        string panel = $"Panel{counter}";
                        string panelid = $"PanelId{counter}";
                        string data = $"data{counter}";

                        <div class="col-md-3">
                            <div class="caption">
                                <div class="card-shell">
                                    <div class="card-header">
                                        <h4 class="text-center">@item.GUID</h4>
                                    </div>

                                    <div class="card-row">
                                        <p>
                                            Added By: @item.AddedBy<br />
                                            Date Added: @item.DateAdded<br />

                                        </p>
                                    </div>
                                    <div class="card-footer">

                                        <div class="panel panel-default" id="@panel">
                                            <div class="panel-heading" role="tab" id="@panel">
                                                <h3 class="panel-title text-center" data-toggle="collapse" data-parent="#accordion" href="#@data" aria-expanded="false" aria-controls="@data">Actions</h3>
                                            </div>
                                            <div id="@data" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@panel">
                                                <div class="panel-body">
                                                    <a asp-page="./Edit" asp-route-id="@item.GUID" class="btn btn-default btn-block">Edit</a>
                                                    <a asp-page="./Details" asp-route-id="@item.GUID" class="btn btn-default btn-block">Details</a>
                                                    <a asp-page="./Delete" asp-route-id="@item.GUID" class="btn btn-default btn-block">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>

                        counter++;
                    }
                }
            </div>

        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Categories[0].Value)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Categories[0].DateAdded)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Categories[0].AddedBy)
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Categories)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Value)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateAdded)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AddedBy)
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a asp-page="./Edit" asp-route-id="@item.GUID" class="btn btn-default">Edit</a>
                                    <a asp-page="./Details" asp-route-id="@item.GUID" class="btn btn-default">Details</a>
                                    <a asp-page="./Delete" asp-route-id="@item.GUID" class="btn btn-default">Delete</a>
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        }

</div>